transformers==4.40.0
streamlit==1.33.0
bs4==0.0.2
openai==1.14.3
langchain==0.1.13
unstructured==0.7.12
pypdf==4.1.0
tiktoken==0.6.0
langchain-openai==0.1.1
chromadb==0.4.17
langchainhub==0.1.15
fastapi==0.111.0
pydantic==2.7.1
uvicorn==0.29.0
starlette==0.37.2